{% if item in groups['production'] %}
define host {
        use                     {{ hostvars[item]["host_templates"] }}
        contact_groups          admins
        host_name               {{ hostvars[item]['inventory_hostname'] }}
        address                 {{ virtual_network }}{{ hostvars[item]['v_inet'] }}
        _SNMPCOMMUNITY          tandoori
        {% if item in groups['reverse_proxies'] %}
        _NODES_WARN             1
        _NODES_CRIT             0
        {% endif %}
        {% if item in groups['databases'] %}
        _POSTGRESQLUSER         shinken
        _POSTGRESQLPASSWORD     InojducGeam3
        _POSTGRESQLPORT         5432
        {% endif %}
}
{% endif %}
{% if item in groups['production-websites'] %}
define host {
        use                     http
        contact_groups          admins
        host_name               {{ hostvars[item]['inventory_hostname'] }}
        address                 {{ hostvars[item]['inventory_hostname'] }}
        check_command           {{ hostvars[item]['check_command'] | default("check_host_alive") }}
}
{% endif %}